<section class="about" id="about">
  <div class="section-wrapper">
    <div class="subsection">
      <div>
        <img
          src="../images/FourGuys.JPG"
          alt="Four riders on the Deloitte Team, at the Texas MS150 bike ride"
        />
      </div>
      <div>
        <h2>About Team Deloitte</h2>
        <p>
          Team Deloitte is more than 200 cyclists and volunteers dedicated to
          ending MS forever. Each year from our Houston and Austin offices, we
          work to raise funds, build community and spread awareness about MS.
          From our dual-starts in Katy and Austin to the celebrations at our
          tent in La Grange, to rolling across the finish line at Kyle Field, we
          are out to make an impact and to have a great time doing it.
        </p>
      </div>
    </div>
    <div class="subsection">
      <div>
        <img
          src="../images/BPMS150-FinishLine.jpg"
          alt="Texas 150 Bike Ride Finish Line"
        />
      </div>
      <div>
        <h2>About the Texas MS 150</h2>
        <p>
          The Texas MS 150 is the single largest fundraiser for Multiple
          Sclerosis in the world. Thousands of riders cover more than 150 miles
          to the College Station finish line, helped along by more than 3,500
          volunteers and tens of thousands of contributors and spectators. This
          year’s ride takes place on April 29th and 30th and is set to bring in
          more than $12 million dollars for the National MS Society. Everyone
          rides the Texas MS 150 for their own reasons, but we are united by one
          goal: a world free of MS.
        </p>
      </div>
    </div>
    <div class="subsection">
      <div>
        <img
          src="../images/TeamDeloitte2022.jpg"
          alt="Houston Team Deloitte 2022"
        />
      </div>
      <div>
        <h2>How to Join</h2>
        <p>
          Sign up for the Texas MS 150 - get outside, spend time with friends,
          improve your fitness, and become a part of the movement to end MS
          forever! To join, follow
          <a
            href="https://mssociety.donordrive.com/index.cfm?fuseaction=donorDrive.team&teamID=30209"
            target="_blank"
            rel="noopener noreferrer"
            >this link</a
          >
          and click on the “Join our Team” link. If you work for Deloitte,
          that's it - set your goal and you’re ready to roll! If you are joining
          the team as a friend, family member or part of a partner team, please
          take one last step and go to our
          <a
            href="https://team-deloitte.squarespace.com/"
            target="_blank"
            rel="noopener noreferrer"
            >storefront</a
          >. Select non-Deloitte Rider Fee and pay the $80 - this gets you a
          Deloitte jersey and overnight accomodations in our festive La Grange
          tent.
        </p>
      </div>
    </div>
    <div class="subsection single-col">
      <div>
        <h2>Team Deloitte Needs You</h2>
        <p>
          Not up for riding but still want to be a part of Team Deloitte? We
          need your support! To make a donation to the MS Society on behalf of
          the team or on behalf of an individual rider, just go to our
          <a
            href="https://mssociety.donordrive.com/index.cfm?fuseaction=donorDrive.team&teamID=30209"
            target="_blank"
            rel="noopener noreferrer"
            >team page</a
          >. We’re also looking for volunteers - everything from transportation
          to planning to food to the finish line - just
          <a
            href="https://deloittesurvey.deloitte.com/Community/se/3FC11B265889CF1E"
            target="_blank"
            rel="noopener noreferrer"
            >let us know</a
          >
          what you’re interested in and we’ll be in touch with details!
        </p>
      </div>
    </div>
  </div>
</section>
