<section class="cause" id="cause">
  <div class="section-wrapper">
    <div class="subsection">
      <div>
        <img
          src="../images/BikeMSImage.jpg"
          alt="a boy giving a cylist a high five during the MS Society bike ride"
        />
      </div>
      <div>
        <h2>What is MS</h2>
        <p>
          Multiple sclerosis is a chronic, unpredictable disease of the central
          nervous system. MS interferes with the way the brain communicates with
          the body, causing intense fatigue, numbness and tingling, blurred
          vision, poor coordination, imbalance, pain, depression and problems
          with memory and concentration. Less commonly MS may cause tremors,
          paralysis and blindness.
        </p>
      </div>
    </div>
    <div class="subsection">
      <div>
        <img
          src="../images/MS-patient_Tania-Bentley.png"
          alt="MS Patient Tania MS-patient_Tania-Bentley"
        />
      </div>
      <div>
        <h2>Who is Impacted</h2>
        <p>
          Most people are diagnosed between the ages of 20 and 50, although
          children and older adults may develop MS as well. Worldwide, more than
          2.3 million people have a diagnosis of MS, and nearly 1 million of
          those people are in the US. There is no cure for MS - people with the
          disease face a lifetime of unpredictable, often devastating symptoms.
        </p>
      </div>
    </div>
    <div class="subsection single-col">
      <div>
        <h2>How Do We Help?</h2>
        <p>
          The Texas MS 150 is the single largest fundraiser for the National MS
          Society in the world, and is part of a network of rides across the
          country that are making a difference. To date, Bike MS cyclists,
          volunteers, and donors have raised more than $1.3 billion to stop MS
          in its tracks, restore what's been lost, and end MS forever.
        </p>
        <p>
          When you ride the Texas MS 150, every cent that you raise goes right
          to the MS Society to drive research towards a cure and provide support
          and services for those living with MS. Recent advancements, driven in
          large part by the work of the National MS Society have increased
          quality of life and increased life expectancy for people with Multiple
          Sclerosis. With this ride, you can help them get that final mile and
          end MS for good.
        </p>
        <p>
          Learn more at
          <a href="http://nationalmssociety.org" target="_blank"
            >nationalmssociety.org</a
          >.
        </p>
      </div>
    </div>
  </div>
</section>
