<section class="resources" id="resources">
  <div class="section-wrapper">
    <div class="subsection">
      <div>
        <img src="../images/Deloitte-Jersey.png" alt="2023 Deloitte Jersey" />
      </div>
      <div>
        <h2>Team Deloitte Jersey — Required to Ride</h2>
        <p>
          Every rider on Team Deloitte wears a Deloitte jersey. The minimum
          required to ride is one jersey, though many prefer to have two on hand
          so there’s a fresh jersey for day two without all that rinsing and
          hanging to dry. Order your jersey online in
          <a
            href="https://team-deloitte.squarespace.com/"
            target="_blank"
            rel="noopener noreferrer"
            >our store</a
          >. All sizes available until March 1st. From March through the week
          before the ride, Jersey orders will be limited to in-stock only.
        </p>
        <h3>Riding in Last Year’s Kit</h3>
        <p>
          No problem to ride in a prior-year Deloitte MS 150 jersey! It’s a
          great step to reduce waste and we love seeing the history of our
          designs out on the road.
        </p>
      </div>
    </div>
    <div class="subsection single-col">
      <div>
        <h2>Route Details</h2>
        <p>
          Riders will start from either Houston or Austin, ride to La Grange,
          and then ride together from La Grange to College Station on Day 2.
        </p>
        <h3>Houston</h3>
        <p>
          For the 2023 ride, our Houston starting point will be the starting
          line hosted by the MS Society at the Royal School Complex - here is a
          link to the
          <a
            href="https://ridewithgps.com/routes/30478125"
            target="_blank"
            rel="noopener noreferrer"
            >the Day 1 route</a
          >. The official start of the ride is there, so we’ll be able to
          utilize the MS Society offerings and leave with the other
          participants. Keep an eye out for the Deloitte banners so that we can
          all meet and ride together! Each Team Deloitte rider will need to drop
          off their luggage with the MS Society transport at the starting line –
          then you will be able to pick it up from the storage area in La
          Grange. To arrange for travel from La Grange back to Houston,
          <a
            href="https://mssociety.donordrive.com/index.cfm?fuseaction=ticket.start&eventID=1629"
            target="_blank"
            rel="noopener noreferrer"
            >reserve a bus ride with the National MS Society here</a
          >. The trip back includes transport for your bike and luggage as well,
          and will drop off back at the Royal School Complex.
        </p>
        <h3>Austin</h3>
        <p>
          Riders starting in Austin will meet up at the starting line at
          Congress and 11th street, right in front of the capitol. We’ll meet up
          at 6:00 AM in front of the Quiznos on Congress, a block south of the
          starting line and then head to the starting line together. Be sure to
          get there early to drop off your bag with the MS Luggage team. The MS
          Society will transport bags for us to pick up in La Grange, and from
          La Grange to the finish line on day two. To arrange for travel from La
          Grange back to Austin,
          <a
            href="https://mssociety.donordrive.com/index.cfm?fuseaction=ticket.start&eventID=1629"
            target="_blank"
            rel="noopener noreferrer"
            >reserve a bus ride with the National MS Society</a
          >. The trip back includes transport for your bike and luggage as well,
          and will drop off back at the starting line at 11th and Congress.
        </p>
      </div>
    </div>
    <div class="subsection even">
      <div>
        <img
          src="../images/la-grange-start.jpg"
          alt="The start of the Texas MS 150 in LaGrange"
        />
      </div>
      <div>
        <h2>Fundraising</h2>
        <p>
          You need to raise at least $400 to ride the Texas MS 150 - now that
          the MS Society has linked up to enable Facebook fundraisers, getting
          to $400 (and beyond) will go quicker than you think.
        </p>
        <p>
          Once you’ve raised the $400, you’re eligible for packet pick up – for
          riders that meet the minimum before team pick up (usually about three
          weeks before the ride), we can pick up your packet and get it to you
          in the office. For other packet pick up options, see the
          <a
            href="https://mssociety.donordrive.com/index.cfm?fuseaction=cms.page&id=4680&eventID=1270#accordion-tab-4-active"
            target="_blank"
            rel="noopener noreferrer"
            >Texas MS 150 site</a
          >
          - detailed packet pick up opportunities will be posted soon. In your
          packets are numbers and instructions - one goes on your jersey, one on
          your helmet, one on your luggage, a couple go on your bike, and the
          wristband goes on your wrist.
        </p>
      </div>
    </div>
    <div class="subsection single-col button-container">
      <a href="#" class="button toggle">Click Here to See Day by Day Details</a>
      <div class="cards">
        <div class="card-wrapper">
          <div class="card">
            <h2>Day 1: La Grange</h2>
            <p>
              Whether you’re riding from Austin or Houston, we’ll all end up in
              the same place after the first day of riding: The Fayette County
              Fairground in La Grange. We’ll update this site with our tent
              location as soon as we get it confirmed - it’ll be easy to find in
              the fairgrounds. Drop your bike off right outside the tent, come
              on inside, enjoy the food and drinks and kick back after a long
              haul on the bike.
            </p>
            <p>
              Early Sunday morning, the lights will come back up, and it’s back
              in the saddle. Breakfast will be at the tent, and then we’ll load
              up our bags and head out to the La Grange start line for Day 2.
            </p>
          </div>
          <!--card-->
          <div class="card">
            <h2>Day 2: College Station</h2>
            <p>
              Day two ends at Kyle Field - be ready for a warm Aggie welcome as
              you roll in. Getting home is up to you - either get on one of the
              MS Society-arranged busses back to Austin or Houston, or catch a
              ride with friends or family from the finish line.
            </p>
          </div>
          <!--card-->
        </div>
        <!--card-wrapper-->
      </div>
    </div>
    <div class="subsection">
      <div>
        <img
          src="../images/Bubbles.jpg"
          alt="Deloitte cyclist riding his bike as fans blow bubbles"
        />
      </div>
      <div>
        <h2>Packing List</h2>
        <p>
          Packing for La Grange can be a bit intimidating the first time
          through. You’ve got a max of two bags (including your cot). We’re here
          to make it easier.
        </p>
        <p>You and your bike:</p>
        <ul>
          <li>Bike and Saddle Bag</li>
          <ul>
            <li>Bike in good working order</li>
            <li>Water bottles</li>
            <li>Spare tube, tire levers, CO2</li>
            <li>
              Reflectors or light (especially if riding from Katy hotels on
              Saturday)
            </li>
            <li>The Texas MS 150 identifying numbers from your packet</li>
          </ul>
          <li>You and Your Pockets</li>
          <ul>
            <li>
              Helmet, gloves, bike shorts, bike shoes, Team Deloitte jersey
            </li>
            <li>
              Colder weather gear (knee warmers, arm warmers) if needed -
              layers!
            </li>
            <li>Sunglasses</li>
            <li>Snacks if you want to supplement the rest stops</li>
            <li>Phone</li>
            <li>
              Your rider number pinned to jersey and rider wristband from your
              packet
            </li>
          </ul>
          <li>La Grange Bag</li>
          <ul>
            <li>Street clothes for La Grange (and PJ’s for the overnight)</li>
            <li>Kit (shorts/jersey/socks) for day two</li>
            <li>
              Chargers for your phone &amp; bike computer - bring a battery if
              you have one
            </li>
            <li>Toiletries and towel</li>
            <li>Sleeping bag and pillow</li>
            <li>
              Cot or mat to sleep on (twin air mattress ok too, but cot is
              easier)
            </li>
            <li>Shower shoes</li>
          </ul>
        </ul>
      </div>
    </div>
    <div class="subsection">
      <div><img src="../images/Bike.jpg" alt="a new bike" /></div>
      <div>
        <h2>Buying a Bike</h2>
        <p>
          Whether you’re considering your first bike or adding a bike to the
          stable, we are a community with ideas to share.
        </p>
        <p>
          As a quick primer for first timers, we offer the following bits of
          collective wisdom:
        </p>
        <ul>
          <li>
            The Texas MS 150 is easiest if you have a road bike, characterized
            by curved handlebars, multiple gears, and relatively narrow tires.
            These bikes are easier to ride for long distances since they offer
            lighter weight, a more efficient ride, and multiple hand positions.
          </li>
          <li>
            Ride before you buy if possible. Find a good local bike shop and try
            out different bikes before you settle on the one you love. Bike
            store people LOVE to help, and love it when new people get engaged.
          </li>
          <li>
            Use your fitness subsidy! Deloitte covers 100% of fitness purchases
            up to $1,000 per year, including a new bike, or new parts for your
            existing bike.
          </li>
          <li>
            Don’t be afraid of entry-level bikes. Road bikes selling for
            <a
              href="https://www.bicycling.com/bikes-gear/a22160983/cheap-road-bikes/"
              target="_blank"
              rel="noopener noreferrer"
              >less than $1,000</a
            >
            today are built to standards that were top of the line just a few
            years ago.
          </li>
        </ul>
        <p>Still have questions? Let us know and we’ll be happy to help!</p>
      </div>
    </div>
    <div class="subsection rides">
      <h2>Upcoming Rides</h2>
      <h3>Houston</h3>
      <div class="ride-wrapper">
        {% for ride in upcomingRdes %} {% if ride.rideCity == 'houston' %}
        <div class="ride-container">
          <div class="date-title">
            <div class="ride-date"><p>{{ ride.rideDate }}</p></div>
            {% if ride.rideTitle %}
            <div class="ride-title">
              <p><strong>{{ ride.rideTitle }}</strong></p>
            </div>
            {% else %}
            <div class="ride-title">
              <p><strong>TBA</strong></p>
            </div>
            {% endif %}
          </div>
          {% if ride.linkText %}
          <div class="ride-link">
            <p>
              <a
                href="{{ ride.linkHREF }}"
                target="_blank"
                rel="noopener noreferrer"
                >{{ ride.linkText }}</a
              >
            </p>
          </div>
          {% endif %} {% if ride.rideDesc %}
          <div class="ride-desc">
            <p>
              <span>{% if ride.rideTime%}{{ ride.rideTime }} - </span>
              {% endif %}{{ ride.rideDesc }}
            </p>
          </div>
          {% endif %}
        </div>
        <!--end ride-container-->
        {% endif %} {% endfor %}
      </div>
      <!--/ride-wrapper-->
      <h3>Austin</h3>
      <div class="ride-wrapper">
        {% for ride in upcomingRdes %} {% if ride.rideCity == 'austin' %}
        <div class="ride-container">
          <div class="date-title">
            <div class="ride-date"><p>{{ ride.rideDate }}</p></div>
            {% if ride.rideTitle %}
            <div class="ride-title">
              <p><strong>{{ ride.rideTitle }}</strong></p>
            </div>
            {% else %}
            <div class="ride-title">
              <p><strong>TBA</strong></p>
            </div>
            {% endif %}
          </div>
          {% if ride.linkText %}
          <div class="ride-link">
            <p>
              <a
                href="{{ ride.linkHREF }}"
                target="_blank"
                rel="noopener noreferrer"
                >{{ ride.linkText }}</a
              >
            </p>
          </div>
          {% endif %} {% if ride.rideDesc %}
          <div class="ride-desc">
            <p>
              <span>{% if ride.rideTime%}{{ ride.rideTime }} - </span>
              {% endif %}{{ ride.rideDesc }}
            </p>
          </div>
          {% endif %}
        </div>
        <!--end ride-container-->
        {% endif %} {% endfor %}
      </div>
    </div>
    <!--subsection rides yes-->
  </div>
  <!-- /section-wrapper -->
</section>
